.bg_comparisonEqual {
    background-color: #e66f00 !important;
}
.bg_comparisonGene {
    background-color: #3ab600 !important;
}
.bg_comparisonPathway {
    background-color: #007adf !important;
}
.bg_comparisonPhgvs {
    background-color: #aa65b8 !important;
}
.bg_comparisonUnequal {
    background-color: #818181 !important;
}
